<div class="camContent">

    <div class="contentSteam row1c1">
        <div class="photoCam">
            <button id="btn--camera-user" class="butonBorder" (click)="startCamera()">Camara</button>
            <video #video class="" autoplay></video>
        </div>
    </div>
    <div class="contentPhoto row1c2">
        <div class="photo">
            <button id="btn--capture-user" class="butonBorder" (click)="capture()">Tomar foto</button>
            <canvas #canvas class="vid"></canvas>
        </div>
    </div>

</div>