@import "../../../../src/assets/sass/instance";
.action_status {
    display: grid;
    grid-template-columns: 73px 74px 73px;
    height: 28px;
    .radiobtn {
        position: relative;
        display: block;
        label {
            background: $c0;
            color: $c1;
            padding: 10px;
            border-style: solid;
            border-width: 2px;
            border-color: $c14;
            margin-bottom: 5px;
            height: 28px;
            @include flex;
            @include align-items(center);
            @include justify-content(center);
            @include font(szrem(16), $f1, normal);
            cursor: pointer;
            &.both {
                border-color: $c3;
            }
            &.border_rigth {
                border-right-width: 0px;
            }
            &.border_left {
                border-left-width: 0px;
            }
        }
        input[type="radio"] {
            display: none;
            position: absolute;
            width: 100%;
            appearance: none;
            &:checked+label {
                background: $c3;
                border-color: $c3;
                &:before {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}