@import "instance";

.form-estate-unit {

    @include position;
    display: block;

    form {
        width: 100%;
        margin: 60px auto 0;
    }
    .data {
        display: grid;
        grid-gap: 18px 10px;

        h3 {
            color: $c15;
            font-size: 0.75rem;
        }

        .select {
            border-radius: 5px 5px 0px 0px;
            height: 44px;
            background: $c28;
            color: $c1;
            padding-left: 8px;
            padding-right: 8px;
        }

        input {
            @include wh(100%);
            border-radius: 5px 5px 0px 0px;
            background-color: $c28;
            color: $c1;
            padding-left: 8px;
            padding-right: 8px;
            height: 44px;

            &.ng-invalid.ng-touched {
                border-style: solid;
                border-width: 2px;
                border-color: $c27;
            }
        }

        .text_error {
            color: $c27;
            height: 16px;
            @include font(szrem(12), $f1, 300);
        }

        label {
            @include font(szrem(12), $f1, normal);
            @include wh(100%);
            @include flex;
            margin-left: 5px;
            color: $c15;
        }

        .tittle {
            @extend %title_2;
        }

        .country_selector {
            grid-column: 1 / 1;
            grid-row: 2;
        }
        .state_selector {
            grid-column: 2 / 2;
            grid-row: 2;
        }
        .city_selector {
            grid-column: 3 / 3;
            grid-row: 2;
        }
        .address {
            grid-column: 4 / 6;
            grid-row: 2;
        }
        .name_complex {
            grid-column: 1 / 3;
            grid-row: 3;
        }
        .nit {
            grid-column: 3 / 3;
            grid-row: 3;
        }
        .cadestre {
            grid-column: 4 / 5;
            grid-row: 3;
        }
        .select_id_type {
            grid-column: 5 / 6;
            grid-row: 3;
        }
        .id_representative {
            grid-column: 1 / 1;
            grid-row: 4;
        }
        .name_representative {
            grid-column: 2 / 2;
            grid-row: 4;
        }
        .surname_representative {
            grid-column: 3 / 4;
            grid-row: 4;
        }
        .email_representative {
            grid-column: 4/6;
            grid-row: 4;
        }
        .phone_estate_unit {
            grid-column: 1/1;
            grid-row: 5;
        }
        .number_country {
            grid-column: 2/3;
            grid-row: 5;
            display: grid;
            grid-gap: 0px 5px;
            grid-template: {
                columns: 44px 152px;
                columns: 44px auto;
            }
            .number_country_1 {
                position: relative;
                top: 21px;
            }
            #phoneCountrytext {
                color: $c15 !important;
            }
        }
        .mobile_country {
            grid-column: 3/4;
            grid-row: 5;
        }
        .mobile_representative {
            grid-column: 4/5;
            grid-row: 5;
            display: grid;
            grid-gap: 0px 5px;
            grid-template: {
                // columns: 44px 152px;
                columns: 44px auto;
            }
            .mobile_representative_1 {
                position: relative;
                top: 21px;
            }
            #codeMobile {
                color: $c15 !important;
            }
        }
        .group {
            grid-column: 1/2;
            grid-row: 6;
        }
        .estate_units {
            grid-column: 2/3;
            grid-row: 6;
        }
        .pedrastian_entrance {
            grid-column: 3/4;
            grid-row: 6;
        }
        .vehicle_entrance {
            grid-column: 4/5;
            grid-row: 6;
        }
        .parkings {
            grid-column: 5/6;
            grid-row: 6;
        }
        .switch {
            grid-column: 1/1;
            grid-row: 7;
            label {
                margin-bottom: 10px;
            }
        }
        .submit {
            grid-column: 5/6;
            grid-row: 7;
            button {
                @include button_1(
                    (
                        colorhover: $c12,
                        colordisabled: $c30,
                        textcolordisabled: $c31,
                    )
                );
            }
        }
    }
}
