<div class="restore_component login_layout">
    <div class="slider_layout">
        <div class="slider_container">
            <img src="{{image}}" alt="Conjunto residencial bits">
        </div>
    </div>

    <main class="main_layout">
        <div id="form_login_restore" class="card">
            <img src="assets/images/imglogin.jpg" class="avatar" alt="logo company" />
            <h2 id="title" class="restore_title">Restablecer contraseña</h2>

            <p id="restore_message" class="restore_message_1" *ngIf="successfull">{{message}}</p>
            <div class="button_login_back" *ngIf="successfull">
                <button id="restore_finish" class="login_back" (click)="finish()"> Finalizar </button>
            </div>

            <form [formGroup]="recover" class="form_restore" *ngIf="!successfull">
                <div class="form_item">
                    <input type="password" placeholder=" " id="password" formControlName="password" maxlength="12" />
                    <label for="password" class="icon_padlock_1">Contraseña</label>

                    <div id="helps_1" [ngClass]="[recover.get('password').hasError('pattern') || recover.get('password').hasError('specialCharacters') ? 'icon_close_1' : 'icon_check_1']" *ngIf="!recover.get('password').hasError('required')">
                        <div class="tooltip_error" *ngIf="recover.get('password').hasError('specialCharacters')">
                            <p>No puede tener caracteres especiales.</p>
                        </div>

                        <div class="tooltip_error" *ngIf="recover.get('password').hasError('pattern') && !recover.get('password').hasError('specialCharacters')">
                            <p>La contraseña debe tener al menos 1 letra mayúscula, 1 número y como mínimo 6 caracteres.</p>
                        </div>

                        <div class="tooltip_check" *ngIf="!recover.get('password').hasError('pattern') && !recover.get('password').hasError('specialCharacters')">
                            <p>La nueva contraseña cumple con las reglas</p>
                        </div>
                    </div>
                </div>

                <div class="form_item">
                    <input type="password" placeholder=" " id="confirmPassword" formControlName="confirmPassword" required maxlength="12"/>
                    <label for="confirmPassword" class="icon_password_confirm_1">Confirmar contraseña</label>

                    <div id="helps_2" [ngClass]="[recover.hasError('notSame') ? 'icon_close_1' : 'icon_check_1']" *ngIf="!recover.get('confirmPassword').hasError('required')">
                        <div class="tooltip_error" *ngIf="recover.hasError('notSame')">
                            <p>Las contraseñas no coinciden</p>
                        </div>
                        <div class="tooltip_check" *ngIf="!recover.hasError('notSame')">
                            <p>Las contraseñas coinciden</p>
                        </div>
                    </div>
                </div>

                <div class="form_item" [class.input_shadow]="!recover.invalid">
                    <button [disabled]="recover.invalid" class="button_restore" type="submit" (click)="restore()" id="restore" *ngIf="!successfull">Restablecer</button>
                </div>
            </form>

            <button id="return" class="return_login" [routerLink]="['/account/login']" *ngIf="!successfull">
                <div class="align_icon_content icon_back_1"> Volver </div>
            </button>
        </div>

        <div *ngIf="!successfull && message" id="box_error" class="box_error">{{message}}</div>
    </main>
</div>
