@import "instance";

$width_card: 352px;

.restore_component {
    @extend %slider_login;

    .main_layout {
        @include center-flex-column;
        background-color: $c9;
        grid-area: main;

        @include brp($b5) {
            background-color: $c1;
        }

        .card {
            @include justify-items(center);
            @include wh($width_card);
            @include position;
            background-color: $c1;
            padding: 30px 38px;
            display: grid;
            grid-template: {
                rows: 90px repeat(2, auto);
                columns: 1fr;
                areas:
                    "restore_title"
                    "restore_form"
                    "restore_back"
            }

            @include brp($b5) {
                @include text(center);
                display: block;
            }

            @include brp($b8) {
                @include wh(100%);
            }

            .avatar { @extend %avatar_1; }

            .restore_title {
                @extend %title_1;
                grid-area: restore_title;

                @include brp($b5) {
                    margin-top: 45px;
                }
            }

            .restore_message_1 {
                @include center-flex-column;
                grid-area: restore_form;
                margin-bottom: 45px;
            }

            .button_login_back {
                &:hover { filter: drop-shadow(-2px 2px 2px $c6); }

                .login_back {
                    @extend %button_1;
                    grid-area: restore_back;

                    @include brp($b5) {
                        margin-bottom: 25px;
                    }
                }
            }

            .form_restore {
                @include wh(100%);
                grid-area: restore_form;

                .form_item {
                    @include position;
                    @extend %input_1;
                    margin: 55px 0;

                    input + label {
                        &:before { top: 7px; }
                    }

                    .mat-error {
                        @include position(absolute, 37px);
                        font-size: szrem(13);
                    }

                    .icon_close_1,
                    .icon_check_1
                    {
                        @include position(absolute, 50%, -29px, top, right);
                        @include transform(translate(0, -50%));
                        @include whs(20px);
                        

                        &:hover {
                            .tooltip_error,
                            .tooltip_check
                            {
                                visibility: visible;
                                @include animation(opacity_1 250ms linear forwards);
                            }
                        }

                        .tooltip_error { @include tooltip_restore($c18); visibility: hidden;}
                        .tooltip_check { @include tooltip_restore($c25); visibility: hidden;}
                    }

                }

                .input_shadow {
                    &:hover { filter: drop-shadow(-2px 2px 2px $c6); }
                }

                .button_restore { @include button_1(()); }
            }

            .return_login {
                @include position;
                background-color: $c0;
                grid-area: restore_back;
                cursor: pointer;

                .align_icon_content {
                    @extend %align_icon_content;
                    color: $c6;
                }
            }
        }

        .box_error {
            @include wh($width_card);
            background-color: $c10;
            padding: 10px;
            color: $c1;

            @include brp($b8) {
                width: 100%;
            }
        }
    }

    p {
        @include text(center);
        font-size: szrem(14);
        color: $c6;
    }
}
